<div class="container">
	<div class="footer">
		<div class="navbar navbar-fixed-bottom">
			<small>
				<div class="pull-right">
				By <%= link_to "Marco Morawec", "http://www.marcomorawec.com" %>
				</div>
			</small>
		</div>
	</div>
</div>